@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc.Models
@using BancaInternet
@{
    Layout = null;
    ViewBag.Title = "Credinka :: Banca por Internet";
    
}

@using (Html.BeginForm("Generar", "credinka", FormMethod.Post, new { id = "__GenerateCode__" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="form_name" value="@ViewBag.form_validate">
    <input type="hidden" name="hddValor" value="@ViewBag.ValueOption">
    <input type="hidden" id="hddtext" name="hddtext" value="@ViewBag.textValor">
    <input type="hidden" id="hddpin1" name="hddpin1">

    @Html.Hidden(MvcApplication.MultipleParameterKey, 2)
    <div class="modal-header css-modal-form-header">
        <div class="modal-title">
            <i class="fa fa-sign-out fa-3x pull-left" style="color:#F58B52;"></i>
            <span class="css-modal-title">Generar Clave de Internet (6 dígitos)</span>
            <br />
            <span class="css-modal-sub-title">Sigue los pasos</span>
        </div>
        <div class="css-modal-title-pasos pull-right">
            <ul class="css-modal-pasos-ul">
                <li class="active"><a><i>1</i></a></li>
                <li><a><i>2</i></a></li>
                <li><a><i>3</i></a></li>
            </ul>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <span class="fa-stack">
                    <i class="fa fa-square-o fa-stack-2x" style="color:#EA6C1D;"></i>
                    <i class="fa fa-square fa-stack-1x" style="color:#EA6C1D;"></i>
                </span>
                <span class="css-text-title-option">Validación de datos</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table-responsive css-table-detalle">
                    <colgroup>
                        <col style="width:20%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div class="form-group col-lg-12">
                                    <label for="sel1"><strong>Identificación</strong></label>
                                    <select id="cbotarjeta" class="form-control css-input-select-tarjeta" id="sel1">
                                        <option value="1">Tarjeta de Débito</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-10">
                                    <div class="input-group">
                                        <input id="txtcaja5" name="txtcaja5" value-text="1" type="text" class="input form-control css-caja-text-tarjeta">
                                        <input id="txtcaja6" name="txtcaja6" value-text="2" maxlength="4" type="text" class="input form-control css-caja-text-tarjeta">
                                        <input id="txtcaja7" name="txtcaja7" value-text="3" maxlength="4" type="text" class="input form-control css-caja-text-tarjeta">
                                        <input id="txtcaja8" name="txtcaja8" value-text="4" maxlength="4" type="text" class="input form-control css-caja-text-tarjeta">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div role="form">
                                            <div class="col-lg-12">
                                                <label for="sel1"><strong>Clave de Acceso (4 dígitos)</strong></label>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <div class="row">
                                                    <div class="col-xs-2 pull-left">
                                                        <img src="data:image;base64,@System.Convert.ToBase64String(ViewBag.ruta.FileContents)" alt="" usemap="#Map1" />
                                                        <map name="Map1" id="Map1">
                                                            <area href="javascript: fn_codping1(0)" shape="rect" coords="10,7,23,24" />
                                                            <area href="javascript: fn_codping1(1)" shape="rect" coords="36,7,50,24" />
                                                            <area href="javascript: fn_codping1(2)" shape="rect" coords="61,6,77,24" />
                                                            <area href="javascript: fn_codping1(3)" shape="rect" coords="8,31,22,47" />
                                                            <area href="javascript: fn_codping1(4)" shape="rect" coords="35,31,51,48" />
                                                            <area href="javascript: fn_codping1(5)" shape="rect" coords="62,30,76,48" />
                                                            <area href="javascript: fn_codping1(6)" shape="rect" coords="8,55,22,70" />
                                                            <area href="javascript: fn_codping1(7)" shape="rect" coords="36,55,50,72" />
                                                            <area href="javascript: fn_codping1(8)" shape="rect" coords="62,55,77,72" />
                                                            <area href="javascript: fn_codping1(9)" shape="rect" coords="61,80,77,95" />
                                                            <area href="javascript: fn_codping1(-1)" shape="rect" coords="6,79,54,96" />
                                                        </map>
                                                    </div>
                                                    <div class="col-xs-8">
                                                        <br />
                                                        <input type="password" id="psdclave1" value="" name="psdclave1" class="form-control css-caja-text-pwd css-input" disabled />
                                                        <p class="list-group-item-text css-text-mensaje">Ingresa tu Clave de 4 dígitos (la misma que usas en el cajero) usando el teclado virtual</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <label for="sel1"><strong>Ingresa el texto de la imagen</strong></label>
                                </div>
                                <div class="col-lg-12 form-group-margin0">
                                    <div class="pull-left">
                                        <div class="row">
                                            <div class="col-xs-12 css-div-capcha">
                                                @Html.Captcha("Actualizar Imagen", null, 5, "Debe ingresar el texto.", true, new ParameterModel(MvcApplication.MultipleParameterKey, 2))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer css-modal-form-footer">
        <button type="button" class="btn btn-xs btn-danger css-close" data-dismiss="modal" id="modal-close1">Cerrar</button>
        <button id="siguiente" type="submit" class="btn btn-xs btn-primary">Siguiente <i class="fa fa-angle-double-right"></i></button>
    </div>
}

<script type="text/javascript" >
    var attr2 = 0;
    $(document).ready(function () {
        $("input[id^='CaptchaInputText']").attr("maxlength", 7);
        var t = $("#hddtext").val();
        if (t.length > 0) {
            $("#hddMessage").append(t);
            $("#myModal").modal("show");
        }

        $("#txtcaja5,#txtcaja6,#txtcaja7,#txtcaja8").keydown(function () {
            attr2 = $(this).attr("value-text");
        });

        $("#txtcaja5,#txtcaja6,#txtcaja7,#txtcaja8").keyup(function () {
            if (this.value.match(/[^0-9]/g)) {
                this.value = this.value.replace(/[^0-9]/g, '');
            }
            fn_saltab1(this);
        });

        $("#__GenerateCode__").submit(function (event) {
            event.preventDefault();
            $("#hddMessage").html("");
            var code = false;
            var cap = $("#CaptchaInputText2").val();
            var hddval = $("#hddpin1").val();
            var t1 = $.trim($("#txtcaja5").val());
            var t2 = $.trim($("#txtcaja6").val());
            var t3 = $.trim($("#txtcaja7").val());
            var t4 = $.trim($("#txtcaja8").val());
            var tj = t1 + t2 + t3 + t4;
            if (tj.length < 16) {
                $("#hddMessage").append("El número de tarjeta es invalido <br/>");
                code = true;
            }
            if ($.trim(hddval).length != 4) {
                $("#hddMessage").append("La clave de acceso debe ser de 4 dígitos <br/>");
                code = true;
            }
            if ($.trim(cap).length == 0) {
                $("#hddMessage").append("Ingrese el texto de la imagen <br/>");
                code = true;
            }
            if (code) {
                $("#myModal").modal("show");
                return false;
            } else {
                LoadingDialog.show();
                var token = $('input[name="__RequestVerificationToken"]', this).val();
                var $form = $(this),
                  term = $form.find("input[name='hddValor']").val(),
                  _TypeKey_ = $form.find("input[name='_TypeKey_']").val(),
                  CaptchaInputText2 = $form.find("input[name='CaptchaInputText2']").val(),
                  CaptchaDeText2 = $form.find("input[name='CaptchaDeText2']").val(),
                  selectTarjeta = $form.find("#cbotarjeta").val(),
                  url = $form.attr("action");
                // Send the data using post
                var posting = $.post(url, {
                    __RequestVerificationToken: token,
                    hddValor: term,
                    _TypeKey_: _TypeKey_,
                    CaptchaInputText2: CaptchaInputText2,
                    CaptchaDeText2: CaptchaDeText2,
                    selectTarjeta: selectTarjeta,
                    txtcaja5: t1,
                    txtcaja6: t2,
                    txtcaja7: t3,
                    txtcaja8: t4,
                    hddpin1: hddval
                });

                // Put the results in a div
                posting.done(function (data) {
                    $("#dvContent").empty().append(data);
                    LoadingDialog.hide();
                });
            }
        });

    });

    
    function fn_saltab1(obj) {

        var tolval = obj.value;
        tolval = tolval.replace(/\s/g, "");

        if (tolval.length > 4 && obj.id == "txtcaja5") {
            $("#txtcaja5").val(tolval.substring(0, 4));
            $("#txtcaja6").val(tolval.substring(4, 8));
            $("#txtcaja7").val(tolval.substring(8, 12));
            $("#txtcaja8").val(tolval.substring(12, 16));
        }

        if (attr2 != 0) {
            if (obj.id == "txtcaja5") {
                if (tolval.length <= 16 && tolval.length >= 12) {
                    $("#txtcaja8").focus();
                } else if (tolval.length <= 12 && tolval.length >= 8) {
                    $("#txtcaja7").focus();
                } else if (tolval.length <= 8 && tolval.length >= 4) {
                    $("#txtcaja6").focus();
                } else if (tolval.length < 4) {
                    $("#txtcaja5").focus();
                }
            } else {
                if (obj.value.length == 4) {
                    attr2++;
                    $("[value-text=" + attr2 + "]").focus();
                }
                if (obj.value.length == 0) {
                    attr2--;
                    $("[value-text=" + attr2 + "]").focus();
                }
            }
        }
        attr2 = 0;

    }

    function fn_codping1(cod) {

        if (cod == -1) {
            $("#hddpin1").val("");
            $("#psdclave1").val("");
            return;
        }

        var psdval = $("#psdclave1").val();
        var hddval = $("#hddpin1").val();
        if (hddval.length == 4) {
            return;
        }
        if (hddval.length < 4) {
            $("#hddpin1").val(hddval + cod);
            $("#psdclave1").val(psdval + "*");
            return;
        }
    }


</script>