@{
    ViewBag.Title = "Credinka :: Banca por Internet";
}

@using (Html.BeginForm("BancaPorInternet", "credinka", FormMethod.Post, "enctype='application/x-www-form-urlencoded'"))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="form_name" value="@ViewBag.form_validate">
    <input type="hidden" name="_form_name" id="_form_name" value="@ViewBag.form_interno">
    <input type="hidden" name="hddevent1" id="hddevent1" value="0">
    <input type="hidden" name="hddevent2" id="hddevent2" value="@ViewBag.enPrestamo.sNumeroCredito">
    <input type="submit" name="hddsubmit_b" id="hddsubmit_b" style="display:none;" />
    
    <div class="css-container-principal css-container-color css-border">
        <div class="col-xs-1">
            <i class="fa fa-balance-scale fa-3x" style="color:#EA6C1D;"></i>
        </div>
        <div class="col-xs-6 css-title">
            <span class="css-title-text">Mis Préstamos</span><br />
            <span class="css-title-subtext">@ViewBag.enPrestamo.sNombreProducto (@ViewBag.enPrestamo.sNumeroCredito)</span>
        </div>
        <div class="col-xs-2 pull-right css-border-left">
            <a href="#" id="aSeSe"><img style="width:90px;height:70px;" src="@ViewBag.imagenContenido"></a>
        </div>
    </div>

    <div class="css-container-principal css-margin" id="conteiner">
        <div class="pull-right option">
            <a href="#" id="aCronPag" title="Cronograma Pagos"><img style="width:16px;height:16px;" src="~/Content/Images/calendar.png"></a>
            &nbsp;
            <a href="#" title="Imprimir" class="css-ico" onclick="printDocument.print($('#conteiner'))"><i class="fa fa-print fa-lg" style="color:#898989;"></i></a>
            <a href="#" title="Exportar PDF" class="css-ico" onclick="fn_ex(4, 0)"><i class="fa fa-file-pdf-o fa-lg" style="color:#F0877B;"></i></a>
            <!-- <a href="#" id="ex_x_d_f" title="Exportar Excel" class="css-ico"><i class="fa fa-file-excel-o fa-lg" style="color:#1D804C;"></i></a>
                -->
        </div>
        <div class="row">
            <div class="col-lg-12 css-margin-top">
                <span class="fa-stack">
                    <i class="fa fa-square-o fa-stack-2x" style="color:#EA6C1D;"></i>
                    <i class="fa fa-square fa-stack-1x" style="color:#EA6C1D;"></i>
                </span><span class="css-text-title-option">DETALLE DEL PRÉSTAMO</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table-responsive css-table-detalle">
                    <colgroup>
                        <col width="35%" />
                        <col width="30%" />
                        <col width="20%" />
                        <col width="15%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="cabecera">Familia de crédito</td>
                            <td colspan="3">@ViewBag.enPrestamo.sTipoCredito</td>
                        </tr>
                        <tr>
                            <td class="cabecera">Producto</td>
                            <td colspan="3">@ViewBag.enPrestamo.sNombreProducto</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="cabecera">Número de crédito</td>
                            <td>@ViewBag.enPrestamo.sNumeroCredito</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="cabecera">Estado</td>
                            <td>@ViewBag.enPrestamo.sEstadoCuenta</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="cabecera">Tasa Efectiva Anual</td>
                            <td>@ViewBag.enPrestamo.sTEA</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="cabecera">Total de cuotas</td>
                            <td>@ViewBag.enPrestamo.nTotalCuotas</td>
                            <td class="cabecera">Cuotas pendientes</td>
                            <td>@ViewBag.enPrestamo.nTotalCuotasPendientes</td>
                        </tr>
                        <tr>
                            <td class="cabecera">Saldo Deudor</td>
                            <td>@ViewBag.enPrestamo.sSaldoCapital</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="cabecera">Fecha de vencimiento del crédito</td>
                            <td>@ViewBag.enPrestamo.sFechaVencimiento</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}



